.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
